---
- name: Include requirement tasks
  ansible.builtin.include_tasks: requirements.yml


- name: Add official MariaDB repository
  ansible.builtin.yum_repository:
    name: MariaDB
    description: MariaDB YUM repo
    file: MariaDB
    baseurl: https://ftp.nluug.nl/db/mariadb/yum/10.6/centos/$releasever/$basearch
    gpgkey: https://ftp.nluug.nl/db/mariadb/yum/RPM-GPG-KEY-MariaDB
    gpgcheck: true

- name: Install MariaDB Server
  ansible.builtin.dnf:
    name: MariaDB-server
    state: present

- name: Install MariaDB Client
  ansible.builtin.dnf:
    name: MariaDB-client
    state: present

# Install Python PyMySQL client library which is used by the Ansible
# comminity.mysql collection plugins
- name: Install Python PyMySQL client library
  ansible.builtin.dnf:
    name: python3-PyMySQL
    state: present

- name: Install python3-libsemanage
  ansible.builtin.dnf:
    name: python3-libsemanage
    state: present

- name: Enable and start mariadb service
  ansible.builtin.systemd:
    name: mariadb
    enabled: true
    state: started

- name: Check if root mysql client profile exists
  ansible.builtin.stat:
    path: /root/.my.cnf
  register: result_my_cnf

- name: Configure MariaDB root user password
  community.mysql.mysql_user:
    login_user: root
    login_unix_socket: /var/lib/mysql/mysql.sock
    name: root
    password: "{{ mariadb_root_password }}"
    state: present
  when: not result_my_cnf.stat.exists


- name: Write MariaDB root login credentials to root my.cnf
  ansible.builtin.copy:
    dest: /root/.my.cnf
    owner: root
    group: root
    mode: 0600
    content: |
        [client]
        user=root
        password={{ mariadb_root_password }}

- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    user: ''
    host_all: true
    state: absent

- name: Remove MySQL test database
  community.mysql.mysql_db:
    db: test
    state: absent